<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Input Form</title>
</head>
<body>
    <div id="bg">
  <div class="module">
    
    <form class="form" action="/rejister" method="POST">
      <input type="text" placeholder="First Name" name="firtname" class="textbox" />
      <input type="text" placeholder="Last Name" name="lastname" class="textbox" />
      <input type="text" placeholder="Email Address" name="email" class="textbox" />
      <input type="submit" value="Next" class="button" />
      <h2>Hammad Developer</h2>
    </form>
  </div>
</div>

</body>
</html>